@font-face {
	font-family: "PT Sans";
	src: url("../fonts/pt_sans-web-regular-webfont.ttf") format("ttf"),
		url("../fonts/pt_sans-web-regular-webfont.woff") format("woff"),
		url("../fonts/pt_sans-web-regular-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
