extends ../includes/template.pug

block variables
  - const title = "Нововятский лесоперерабатывающий комбинат"
  - const content = "Производим ориентировано-стружечную плиту для строительства и декоративных целей"

block content
  h1 title template index
  button hi
